<footer class="doc-footer">
    <div class="container">
        <p>
            © 2014 <a href="http://twitter.com/7flying">7flying</a>. All rights reserved.<br>
            Coded with <span class="doc-heart"><i class="fa fa-heart text-danger" ></i></span> and a lot of <i class="fa fa-coffee"></i>
        </p>
        <ul>
            <li>
                <a href="https://github.com/7flying/yil-pil" title="Fork me on Github">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>   
</footer>