<div class="container">
	<div class="col-md-6">
		<h3>Markdown</h3>
		<div class="panel panel-default">
			<div class="panel-heading">
				<input type="text" class="form-control" placeholder="Title" 
				data-bind='textInput: mdTitle'>
			</div>
			<div class="panel-body post-editor">
				<textarea class="form-control" rows="10"
				 data-bind='textInput: mdContents'></textarea>
			</div>
			<div class="panel-footer">
				<input type="text" class="form-control" placeholder="Add tag"
				 data-bind="value: tag, valueUpdate: 'input', executeOnEnter: addTag">
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h3>Preview</h3>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 type="text" data-bind='text: title'></h4>
			</div>
			<div class="panel-body post-editor">
				<div id="preview-contents"></div>
			</div>
			<div class="panel-footer">
				<span data-bind='foreach: tags'>
					<span class="label label-success" data-bind='text: $data'></span>
				</span>
			</div>
		</div>
	</div>
</div>
