<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yil-Pil</title>
    <!-- build:css -->
      <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/styles.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:js -->
      <script src="/static/lib/knockout/knockout-3.2.0.js"></script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <h3>Latest posts</h3>
    <div data-bind="component: 'post-grid'"></div>
  </body>
</html>
