<div class="row">
	<div class="col-xs-6 col-sm-4">
		<div class="page-header">
			<h1>Join Yil-Pil</h1>
		</div>
		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">Username</label>
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
				<p class="help-block">
					This username will be displayed in your posts.
				</p>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				<p class="help-block">
					Your avatar is linked to this email.
					We'll use this to confirm your account and send occasional emails.
				</p>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				<p class="help-block">Be tricky!</p>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Confirm your password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password again">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div class="col-xs-6 col-sm-4"></div>
</div>
<footer></footer>
